{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <!--<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>-->

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Inscription</h3>
      </div>
    <p></p>


    <div class="alert alert-success" style = "margin:20px">
    	L'utilisateur a été créé avec succès

    </div>

{% endblock fos_user_content %}